*{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: #1F2937;
    color: white;
}
.logo{
    font-size: 28px;
    font-weight: 900;
}
ul{
    list-style-type: none; 
    font-size: 18px;
    color: #E5E7EB;
}
h1{
    font-size: 48px;
    font-weight: 1000;
}
.headbutton{
    padding: 8px 24px;
    border-radius: 10px;
    background-color: #3882F6;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.placeholder{
    width: 400px;
    height: 180px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*--------------------------------------------------------*/
 body{

margin: 0;
 }
.header{
    padding:10px 150px ;
}
.headheader{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    
}
li{
    padding: 0 8px;
}
.headermiddle{
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
    align-items: center;
}
.headermiddleleft{
    width: 500px;
}